[Unit]
Description=llama-server
After=network.target

[Service]
ExecStart=%h/ghq/github.com/yasainet/dotfiles/scripts/llm/serve.sh
Restart=on-failure
RestartSec=5
